/* Color variables */
:root {
  --color-black: #222222;
  --color-grey: #cccccc;
  --color-white: #ffffff;
  --color-body: #f9f7ff;
  --color-accent: #6200ee;
  --color-accent-dark: #5400cc;
  --color-accent-light: #f2eff8;
  --fonts: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif;
}

/* A Modern CSS Reset
 * https://andy-bell.co.uk/a-modern-css-reset/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--fonts);
  background-color: var(--color-body);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1 {
  text-align: center;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  padding: 1rem 0;
}

main {
  max-width: 40rem;
  border: 1px solid var(--color-grey);
  margin-inline: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
}

footer {
  padding-top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

footer a {
  color: var(--color-black);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Form elements */

form {
  margin-bottom: 1.5rem;
}

fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

label {
  position: absolute;
  top: 0;
  left: 0;
}

input[type='text'] {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-grey);
  border-radius: 0.25rem;
}

form input[type='text'] {
  border: none;
  border-bottom: 1px solid var(--color-black);
  background-color: var(--color-body);
  margin-bottom: 0.5rem;
  border-radius: 0;
}

div > input[type='text'] {
  padding-top: 0.875rem;
}

div > label {
  background-color: var(--color-white);
  font-size: 0.875rem;
  top: -8px;
  left: 8px;
  padding: 0 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.relative {
  position: relative;
}

/* List */

ul {
  list-style: none;
  margin: 0 0 1.5rem;
  padding: 0;
  border-radius: 1rem;
  overflow: hidden;
}

.border {
  border: 1px solid var(--color-grey);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
}

li:hover {
  background-color: var(--color-body);
}

li:last-child {
  border: none;
}

.edit-text {
  color: var(--color-grey);
}

/* Buttons */

button {
  background-color: var(--color-white);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  cursor: pointer;
  border-radius: 0.25rem;
  letter-spacing: 0.09rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

form button {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
}

ul + button {
  width: 100%;
}

button:hover,
button:focus {
  background-color: var(--color-accent-light);
}

form button:hover,
form button:focus {
  border: 1px solid var(--color-accent-dark);
  background-color: var(--color-accent-dark);
}

/* Button ripple effect
Source: https://codepen.io/finnhvman/pen/jLXKJw */

form button:not(.btn-edit) {
  background-position: center;
  transition: background 0.8s;
}

form button:not(.btn-edit):hover {
  background: var(--color-accent-dark)
    radial-gradient(circle, transparent 1%, var(--color-accent-dark) 1%)
    center/15000%;
}

form button:not(.btn-edit):active {
  background-color: var(--color-accent-light);
  background-size: 100%;
  transition: background 0s;
}

button.btn-edit {
  background-color: var(--color-white);
  color: var(--color-accent);
}

button.btn-edit:hover,
button.btn-edit:focus,
button.btn-edit:active {
  background-color: var(--color-accent-light);
  color: var(--color-accent);
}
